.countryContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #111824;
  width: 100%;
  padding: 0 0 5px;
  overflow: hidden;
}

.countryTotal, .countrySearch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #32476b;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.countryTotal {
  cursor: pointer;
}

.countryTotal__title {
  color: #b9b9b9;
  font-size: 1.5rem;
  margin: 5px;
}

.countryTotal__value {
  font-size: 2.5rem;
  margin: 5px;
  text-shadow: 2px 2px 10px black;
}

.countrySearch__value {
  outline-style: none;
  height: 2rem;
  margin: 5px;
  width: 90%;
  max-width: 300px;
}

.countrySearch__btn {
  outline-style: none;
  padding: 10px;
}

.countryTableContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #111824;
  width: 100%;
  height: 80%; 
  padding: 0 0 5px;
  overflow-y: auto;
}

.countryTable {
  background: #32476b;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  cursor: pointer;
}

.countryTable__row {
  align-items: center;
  border-bottom: 1px solid rgb(31, 31, 31);
  transition: 0.2s;
  text-shadow: 2px 2px 20px black;
}

.countryTable__cellName, .countryTable__cellFlag, .countryTable__cellValue {
  font-size: 1.1rem;
  color: rgb(223, 219, 219);
}

.countryTable__cellName {
  width: 40%;
}

.countryTable__cellFlag {
  width: 20%;
}

.countryTable__cellFlag__img {
  width: 2rem;
}

.countryTable__cellValue {
  width: 20%;
}



