.country__globaldata {
  display: flex;
  flex-direction: column;
  background: #32476b;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-bottom: 5px;
}

.country__globaldata__title {
  color: #b9b9b9;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.country__globaldata__value {
  color: red;
  font-size: 3rem;
  margin-bottom: 5px;
}