[data-map-confirmed_cases],
[data-map-confirmed_deaths],
[data-map-confirmed_recovered] {
    width: 90%;
    height: 90%;
    margin: 30px auto 30px;
    padding: 10 auto;
    display: none;
}
.active_map {
    display: block;
}

a[data-tab = 'confirmed_cases'],
a[data-tab = 'confirmed_deaths'],
a[data-tab = 'confirmed_recovered']{
    position: absolute;
    z-index: 1000;
    width: 150px;
    height: 20px;
    background:white;
    cursor: pointer;
}
a[data-tab = 'confirmed_cases'] {
    bottom: 9px;
    left: 80px;
}

a[data-tab = 'confirmed_deaths'] {
    bottom: 9px;
    left: 231px;
}

a[data-tab = 'confirmed_recovered'] {
    bottom: 9px;
    left: 382px;
}

.active {
    border-bottom:3px solid blue;
    background: black;
}
.chosen_country {
    fill:violet;
    animation: bubble_bubble 1s linear infinite;
}

@keyframes bubble_bubble {
    from {
      stroke-width:2;
    }
  
    to {
        stroke-width:2;
    }
  
    25% {
        stroke-width:4;
    }
    50% {
        stroke-width:5px;
    }
    75% {
        stroke-width:4;
    }

  }
  
 





