[data-table]{
    text-align: center;
}
[data-table-heading] {
    text-align: center;
    font-size:26px
}
[data-table-content] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 600px;
    font-size: 1.2em;
    height: 190px;
    margin: 0px auto;
    padding: 25px;   
}
[data-table-subheading]{
    text-align: center;
}
[data-table-togglers] {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 31px;
}
[data-table-backtoggler]{
    display: none;
    flex-direction: column;
    width: 50px;
    align-items: center;
}
[data-table-unittoggler]{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
}

[data-table-toggler-subtitle] {
    font-size: 12px;
    width: 100px;
    text-align: center;
    margin-bottom: 5px;
    width: 200px;
}
[data-table-backtoggler-btn]:hover,[data-table-unittoggler-btn]:hover {
    cursor: pointer;
}

.cases,
.deaths,
.recovered {
    font-weight: normal;
    text-shadow: 2px 2px 10px black;
}

.cases {
    color:yellow;
}

.deaths {
    color:red;
}

.recovered {
    color: rgb(0 255 0);
}
@media (min-width: 768px) and (max-width: 1330px) {
    [data-table-content] {
        font-size: 0.95em;
        height: 150px;
        padding: 5px;   
    }
    [data-table-heading] {
        text-align: center;
        font-size: 20px;
    }
    [data-table-toggler-subtitle] {
        font-size: 11px;
    width: 100px;
    text-align: center;
    margin-bottom: 5px;
    }
}
@media (max-width: 767px) {
    [data-table-heading] {
        text-align: center;
        font-size:20px
    }
    [data-table-content] {
        font-size: 1.2em;
        height: 150px;
        padding: 0px;   
        max-width: 300px;
    }
    [data-table-toggler-subtitle] {
        font-size: 12px;
    width: 100px;
    text-align: center;
    margin-bottom: 5px;
    width: 200px;
    }
}